*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #FFF;
  width: 100%;
  background-color: #A6E65A;
}

h4{
  font-size: 1rem;
}

h3{
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: colum;
}


button{
  cursor: pointer;
}